{
  "Entries": [
    {
      "RequestUri": "/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/canaryexproute/providers/Microsoft.RecoveryServices/vaults?api-version=2016-06-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"southeastasia\",\r\n      \"name\": \"IbizaV2ATest\",\r\n      \"etag\": \"W/\\\"datetime'2017-02-23T07%3A17%3A38.2866453Z'\\\"\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/canaryexproute/providers/Microsoft.RecoveryServices/vaults/IbizaV2ATest\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n      \"sku\": {\r\n        \"name\": \"RS0\",\r\n        \"tier\": \"Standard\"\r\n      }\r\n    },\r\n    {\r\n      \"location\": \"southeastasia\",\r\n      \"name\": \"SrilathaVault\",\r\n      \"etag\": \"W/\\\"datetime'2017-02-23T07%3A17%3A38.6426618Z'\\\"\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/canaryexproute/providers/Microsoft.RecoveryServices/vaults/SrilathaVault\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n      \"sku\": {\r\n        \"name\": \"RS0\",\r\n        \"tier\": \"Standard\"\r\n      }\r\n    },\r\n    {\r\n      \"location\": \"southeastasia\",\r\n      \"name\": \"ubuntu\",\r\n      \"etag\": \"W/\\\"datetime'2017-02-23T07%3A17%3A38.9596794Z'\\\"\",\r\n      \"properties\": {\r\n        \"provisioningState\": \"Succeeded\"\r\n      },\r\n      \"id\": \"/subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/canaryexproute/providers/Microsoft.RecoveryServices/vaults/ubuntu\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults\",\r\n      \"sku\": {\r\n        \"name\": \"RS0\",\r\n        \"tier\": \"Standard\"\r\n      }\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14940"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/canaryexproute/providers/Microsoft.RecoveryServices/vaults/IbizaV2ATest/replicationFabrics?api-version=2016-08-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1505795227359)\\/\",\"NotAfterTimestamp\":\"\\/Date(1506400027359)\\/\",\"ClientRequestId\":\"6783c93c-2e59-43f8-a326-daa60b7485e7-2017-09-19 05:27:07Z-P\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"G3HEHZSI9MycAHjX28tVeX52pJstzr1uF6OPVh2FL6E=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"name\": \"c583aaf56000ea7592258e8fc4fecba574a6564e131ae5f0a6dcfe0de5d7154f\",\r\n      \"type\": \"Microsoft.RecoveryServices/vaults/replicationFabrics\",\r\n      \"id\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/canaryexproute/providers/Microsoft.RecoveryServices/vaults/IbizaV2ATest/replicationFabrics/c583aaf56000ea7592258e8fc4fecba574a6564e131ae5f0a6dcfe0de5d7154f\",\r\n      \"properties\": {\r\n        \"friendlyName\": \"PRGOYAL-TEST3\",\r\n        \"encryptionDetails\": {\r\n          \"kekState\": \"None\",\r\n          \"kekCertThumbprint\": null\r\n        },\r\n        \"rolloverEncryptionDetails\": {\r\n          \"kekState\": \"None\",\r\n          \"kekCertThumbprint\": null\r\n        },\r\n        \"internalIdentifier\": \"2cebd426-9b24-458b-ad60-6de90e622c7a\",\r\n        \"bcdrState\": \"Valid\",\r\n        \"customDetails\": {\r\n          \"instanceType\": \"VMware\",\r\n          \"processServers\": [\r\n            {\r\n              \"friendlyName\": \"prgoyal-test2\",\r\n              \"id\": \"7F26794C-CCD6-8C40-B7986081B8CDD3D6\",\r\n              \"ipAddress\": \"10.150.0.101\",\r\n              \"osType\": \"Windows\",\r\n              \"agentVersion\": \"9.12.0.0\",\r\n              \"lastHeartbeat\": \"2017-09-12T12:56:14Z\",\r\n              \"versionStatus\": \"NotSupported\",\r\n              \"mobilityServiceUpdates\": [\r\n                {\r\n                  \"version\": \"9.12.0.0\",\r\n                  \"rebootStatus\": \"NotRequired\",\r\n                  \"osType\": \"Windows\"\r\n                },\r\n                {\r\n                  \"version\": \"9.12.0.0\",\r\n                  \"rebootStatus\": \"NotRequired\",\r\n                  \"osType\": \"Linux\"\r\n                }\r\n              ],\r\n              \"hostId\": \"7F26794C-CCD6-8C40-B7986081B8CDD3D6\",\r\n              \"machineCount\": \"1\",\r\n              \"replicationPairCount\": \"2\",\r\n              \"systemLoad\": \"0\",\r\n              \"systemLoadStatus\": \"Green\",\r\n              \"cpuLoad\": \"3%\",\r\n              \"cpuLoadStatus\": \"Green\",\r\n              \"totalMemoryInBytes\": 4294500352,\r\n              \"availableMemoryInBytes\": 939765760,\r\n              \"memoryUsageStatus\": \"Yellow\",\r\n              \"totalSpaceInBytes\": 53317988352,\r\n              \"availableSpaceInBytes\": 29456609280,\r\n              \"spaceUsageStatus\": \"Green\",\r\n              \"psServiceStatus\": \"Running\",\r\n              \"sslCertExpiryDate\": \"2020-09-06T08:08:02Z\",\r\n              \"sslCertExpiryRemainingDays\": 1083,\r\n              \"osVersion\": null\r\n            },\r\n            {\r\n              \"friendlyName\": \"prgoyal-test3\",\r\n              \"id\": \"31BEE026-7757-6E43-BC71703B463813CE\",\r\n              \"ipAddress\": \"10.150.208.191\",\r\n              \"osType\": \"Windows\",\r\n              \"agentVersion\": \"9.12.0.0\",\r\n              \"lastHeartbeat\": \"2017-09-14T14:02:37Z\",\r\n              \"versionStatus\": \"NotSupported\",\r\n              \"mobilityServiceUpdates\": [\r\n                {\r\n         [...]
[...]
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/canaryexproute/providers/Microsoft.RecoveryServices/vaults/IbizaV2ATest/replicationFabrics/9a72155b61d09325a02ba0311dea55df3a7135b65558b43c9ff540b9e7be084f?api-version=2016-08-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1505795229370)\\/\",\"NotAfterTimestamp\":\"\\/Date(1506400029370[...]
[...]
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/canaryexproute/providers/Microsoft.RecoveryServices/vaults/IbizaV2ATest/replicationFabrics/9a72155b61d09325a02ba0311dea55df3a7135b65558b43c9ff540b9e7be084f/replicationvCenters/BCDR?api-version=2016-08-10",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"friendlyName\": \"BCDR\",\r\n    \"ipAddress\": \"10.150.209.216\",\r\n    \"processServerId\": \"F69DF410-66A9-EA46-AF73D9593D9F1771\",\r\n    \"port\": \"443\",\r\n    \"runAsAccountId\": \"1\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1505795229907)\\/\",\"NotAfterTimestamp\":\"\\/Date(1506400029907)\\/\",\"ClientRequestId\":\"2bee9f59-3a1d-4876-8217-585aee238808-2017-09-19 05:27:09Z-P\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"dxq4gSFbPsbhJnj5dVaba22sM+u6kl1SerWRAAQ3XA8=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
        ]
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "Retry-After": [
          "30"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/canaryexproute/providers/Microsoft.RecoveryServices/vaults/IbizaV2ATest/replicationJobs/13ddbb26-14b4-499e-a334-be0afe6da869?api-version=2016-08-10"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Location": [
          "https://management.azure.com/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/canaryexproute/providers/Microsoft.RecoveryServices/vaults/IbizaV2ATest/replicationFabrics/9a72155b61d09325a02ba0311dea55df3a7135b65558b43c9ff540b9e7be084f/replicationvCenters/BCDR/operationresults/13ddbb26-14b4-499e-a334-be0afe6da869?api-version=2016-08-10"
        ]
      },
      "StatusCode": 202
    },
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/canaryexproute/providers/Microsoft.RecoveryServices/vaults/IbizaV2ATest/replicationJobs/13ddbb26-14b4-499e-a334-be0afe6da869?api-version=2016-08-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1505795230982)\\/\",\"NotAfterTimestamp\":\"\\/Date(1506400030982)\\/\",\"ClientRequestId\":\"e96fa8d9-0acb-4aeb-af86-306493a65f38-2017-09-19 05:27:10Z-P\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"HOJAp8FAG0tM/NGeTg/9yjkEMBW5lEtM/BKKFg6m4f4=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/canaryexproute/providers/Microsoft.RecoveryServices/vaults/IbizaV2ATest/replicationJobs/13ddbb26-14b4-499e-a334-be0afe6da869\",\r\n  \"name\": \"13ddbb26-14b4-499e-a334-be0afe6da869\",\r\n  \"properties\": {\r\n    \"activityId\": \"2bee9f59-3a1d-4876-8217-585aee238808-2017-09-19 05:27:09Z-P ActivityId: f61cd205-81bd-4b7f-a88d-85d16645a14a\",\r\n    \"scenarioName\": null,\r\n    \"friendlyName\": null,\r\n    \"state\": \"NotStarted\",\r\n    \"stateDescription\": \"NotStarted\",\r\n    \"tasks\": [],\r\n    \"errors\": [],\r\n    \"allowedActions\": [],\r\n    \"targetObjectId\": null,\r\n    \"targetObjectName\": null,\r\n    \"targetInstanceType\": \"ProtectionEntity\",\r\n    \"customDetails\": {\r\n      \"instanceType\": \"AsrJobDetails\",\r\n      \"affectedObjectDetails\": {}\r\n    }\r\n  },\r\n  \"status\": \"NotStarted\",\r\n  \"error\": null,\r\n  \"startTime\": null,\r\n  \"endTime\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "13769"
        ]
      },
      "StatusCode": 200
    },
    {
      "RequestUri": "/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/canaryexproute/providers/Microsoft.RecoveryServices/vaults/IbizaV2ATest/replicationJobs/13ddbb26-14b4-499e-a334-be0afe6da869?api-version=2016-08-10",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Agent-Authentication": [
          "{\"NotBeforeTimestamp\":\"\\/Date(1505795231226)\\/\",\"NotAfterTimestamp\":\"\\/Date(1506400031226)\\/\",\"ClientRequestId\":\"49d4a169-dbd6-4759-b3cd-067a1afb2974-2017-09-19 05:27:11Z-P\",\"HashFunction\":\"HMACSHA256\",\"Hmac\":\"vmOjZ81ivoRcl1exgfg8k0trc8JcvddbqCTOzEZ8d7g=\",\"Version\":{\"Major\":1,\"Minor\":2,\"Build\":-1,\"Revision\":-1,\"MajorRevision\":-1,\"MinorRevision\":-1},\"PropertyBag\":{}}"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/Subscriptions/7c943c1b-5122-4097-90c8-861411bdd574/resourceGroups/canaryexproute/providers/Microsoft.RecoveryServices/vaults/IbizaV2ATest/replicationJobs/13ddbb26-14b4-499e-a334-be0afe6da869\",\r\n  \"name\": \"13ddbb26-14b4-499e-a334-be0afe6da869\",\r\n  \"properties\": {\r\n    \"activityId\": \"2bee9f59-3a1d-4876-8217-585aee238808-2017-09-19 05:27:09Z-P ActivityId: f61cd205-81bd-4b7f-a88d-85d16645a14a\",\r\n    \"scenarioName\": \"DiscoverVCenter\",\r\n    \"friendlyName\": \"Add vCenter server\",\r\n    \"state\": \"InProgress\",\r\n    \"stateDescription\": \"InProgress\",\r\n    \"tasks\": [\r\n      {\r\n        \"taskId\": \"DiscoverVCenterTask\",\r\n        \"name\": \"DiscoverVCenterTask\",\r\n        \"startTime\": \"2017-09-19T05:27:10.7902115Z\",\r\n        \"endTime\": \"0001-01-01T00:00:00\",\r\n        \"allowedActions\": [],\r\n        \"friendlyName\": \"Adding vCenter server\",\r\n        \"state\": \"InProgress\",\r\n        \"stateDescription\": \"InProgress\",\r\n        \"taskType\": \"TaskDetails\",\r\n        \"customDetails\": {\r\n          \"instanceType\": \"TaskDetails\"\r\n        },\r\n        \"groupTaskCustomDetails\": null,\r\n        \"errors\": []\r\n      }\r\n    ],\r\n    \"errors\": [],\r\n    \"startTime\": \"2017-09-19T05:27:09.8376441Z\",\r\n    \"allowedActions\": [],\r\n    \"targetObjectId\": \"10.150.209.216\",\r\n    \"targetObjectName\": \"BCDR\",\r\n    \"targetInstanceType\": \"VCenter\",\r\n    \"customDetails\": {\r\n      \"instanceType\": \"AsrJobDetails\",\r\n      \"affectedObjectDetails\": {\r\n        \"PrimaryVmmId\": \"a5441e09-275c-4f15-a1b9-450a22c89d7b\",\r\n        \"PrimaryVmmName\": \"V2A-W2K12-400\",\r\n        \"PrimaryFabricProviderId\": \"VMware\"\r\n      }\r\n    }\r\n  },\r\n  \"status\": \"InProgress\",\r\n  \"error\": null,\r\n  \"startTime\": \"2017-09-19T05:27:09.8376441Z\",\r\n  \"endTime\": null\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "13768"
        ]
      },
      "StatusCode": 200
    },
[...]
